#icon {
    color:#fff;
    background: #e05780;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     -webkit-font-smoothing: antialiased;
  }
  
  #icon:hover {
    background: #ef92a3;
  }
  
  /* pop-up text */
  
  #icon span {
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  /* pop-up text arrow */
  
  #icon span:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
  }
  
  /* text pops up when icon is in hover state */
  
  #icon:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
  }
  
  /* font awesome icons */
  
  /* #icon:nth-of-type(1):before {
  content:'\f09a';
  }
  #icon:nth-of-type(2):before {
  content:'\f099';
  }
  #icon:nth-of-type(3):before {
  content:'\f0d5';
  }
  #icon:nth-of-type(4):before {
  content:'\f113';
  }
  #icon:nth-of-type(5):before {
  content:'\f17d';
  }
  #icon:nth-of-type(6):before {
  content:'\f1cb';
  } */
  .middle3 {
    display: block;
    justify-content: center;
    margin: 100px;
  }
  .t1 {
    margin-left: 100px;
    color: black;
  }
  .facebook:hover {
    text-decoration: underline;
    color: #e05780;
  }
  
  .email:hover {
    text-decoration: underline;
    color: #e05780;
  }
  
  .td1 {
    padding-left: 60px;
    color: black;
  }
  
  .td2 {
    font-weight: bold;
  }
  
  .contact {
    margin-top: 20px;
    display: block;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
  }